@page "/edit"
@using Blazeditor.TinyMCE

<h3>Edit Page</h3>

<TextEditor Id="text-editor">
    <EditorContent>
        This example shows you the blazor with TinyMCE.
    </EditorContent>
</TextEditor>

<p>
    Click <a href="/">here</a> to Return to Index or <a href="/counter">here</a> to Counter
</p>

@code {

}
