@page "/edit"
@using Blazeditor.TinyMCE

<h3>Edit Page</h3>

<TextEditor Id="text-editor">
    <EditorContent>
        @text
    </EditorContent>
</TextEditor>

<p>
    Click <a href="/">here</a> to Return to Index or <a href="/counter">here</a> to Counter
</p>

@code {
    private string text = "It's " + DateTime.Now.ToLongTimeString();
}
