@page "/"

<PageTitle>Index</PageTitle>

<h1>Blazeditor sample</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra hendrerit pulvinar. Quisque laoreet ipsum at sollicitudin dignissim. In scelerisque posuere scelerisque. Cras in erat eros. Sed a ipsum vitae dolor ornare dignissim. Ut erat odio, condimentum quis fringilla eget, consectetur eget nisi. Donec posuere erat viverra consequat consectetur. Fusce efficitur, elit eget bibendum tristique, tellus nisi sollicitudin lacus, et volutpat tortor tellus vel magna. Maecenas rhoncus pharetra tellus, vitae euismod dui dapibus eu. Mauris sed facilisis lacus, semper maximus tortor.</p>

<a href="/edit" class="btn-link btn btn-primary">Click Here</a> to go to a page with Blazeditor

